
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    html {
      @apply font-sans;
      font-weight: 400;
      font-style:normal;
    }
  }
  
  body {
    /* overflow:hidden; */
    scrollbar-width: none;
    height: 100%;
    background-color:rgb(0, 0, 0);
    /* background-image: linear-gradient(
      264.28deg,
      rgba(0, 0, 0, 0.1) -38.2%,
      rgba(255, 255, 255, 0.1) 103.12%
    );    } */
  }
  ::-webkit-scrollbar{
    display: none;
  }